
        .profile-container {
            display: flex;
            align-items: flex-start;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .profile-photo {
            flex: 0 0 200px; /* Fixed width for the photo */
            margin-right: 20px;
            width: 50px; 
            height: 180px; 
            border-radius: 50%;
            object-fit: cover;

        }

        .student-info {
            flex-grow: 1; /* Take remaining space */
        }

        .student-name {
            font-size: 24px;
            font-weight: bold;
        }

        .college {
            font-size: 18px;
        }

        .about {
            margin-top: 10px;
            font-size: 16px;
        }